<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All user</title>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <h1>All user</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>City</th>
            </tr>
        </thead>
        {{#each data}}
        <tr>
            <td>{{name}}</td>
            <td>{{city}}</td>
        </tr>
        {{/each}}
    </table>

</body>

</html>