<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <h1>Edit user</h1>
    <form action='/update' method="post">
        <label>Name</label> {{data.name}}
        <input type="hidden" name="txtName" value="{{data.name}}">
        <br>
        <label>City</label> <input type="text" name="txtCity" value="{{data.city}}">
        <br>
        <input type="submit" value="Update">
    </form>
</body>

</html>